canvas {
    margin: auto;
    display: block;
box-sizing: border-box;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
body{
    overflow:hidden;
    width:100%; height:100%;
}
html{width:100%; height:100%;}   